<ion-view view-title="QueueT">
    <ion-content>
  <div class="bar bar-header bar-assertive">
  <button class="button icon ion-plus-circled add-new" ng-click="newVideo()"> Add New</button>
<h1 class="title"><strong>QueueT</strong></h1>
<button class="button icon ion-log-out" ng-click="logout()"></button>
</div>
     <!-- <div class="padding">
            <div class="item item-text-wrap has-header">
                <span class="message-note">
                    <p>No Videos!! Add Video links using Add New button!!!</p>
                </span>
            </div>
            <div class="item item-text-wrap">
             <span class="message-note">
                    <p>No Videos!! Add Video links using Add New button!!!</p>
                </span>
            </div>
        </div> -->
        <div class="bar bar-subheader padding"><h2 class="title">VIDEO QUEUE</h2>
        </div>

        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/Ukg_U3CnJWI" frameborder="0" allowfullscreen></iframe> -->
        <div class="list padding has-subheader" ng-repeat="video in all_video track by $index">

				<div class="item item-divider" style="text-align:center;">
				{{ video.title }}
				</div>
		      <div class="item item-text-wrap">
            <!-- <a href="{{ videos.$getRecord(eachvideo.$id).url }}" target="_blank">{{ videos.$getRecord(eachvideo.$id).url }}</a> -->
            <iframe ng-src="{{video.url | trusted}}" frameborder="0" style="width: 100vw; " allowfullscreen></iframe>
		      </div>
		    </div>
