<ion-view view-title="QueueT">
    <ion-content>
  <div class="bar bar-header bar-assertive">
  <button class="button icon ion-plus-circled add-new" ng-click="newVideo()" ng-controller="newVideoCtrl"> Add New</button>
<h1 class="title"><strong>QueueT</strong></h1>
<button class="button icon ion-log-out" ng-click="logout()"></button>
</div>
     <div class="padding">
            <div class="item item-text-wrap has-header">
                <span class="message-note">
                    <p>No Videos!! Add Video links using Add New button!!!</p>
                    <button ng-click="checkLoginState()">Login State Check</button>
                </span>
            </div>
        </div>


<script id="template/newVideo.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-assertive">
          <h1 class="title">New Video Link</h1>
          <button class="button button-clear button-primary" ng-click="modalFirst.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
         <form name="addForm">
            <div class="list">
                <label class="item item-input">
                <input type="text" placeholder="Enter Video Title" required>
                </label>
                <br/>
                <label class="item item-input">
                <textarea rows="6" placeholder="Paste Your Video URL" required></textarea>
                </label>
                <div class="row">
                    <button type="submit" class="button-assertive button-block button col col-33" ng-disabled="addForm.$invalid"><i class="ion-plus-circled"></i> Add
                    </button>
                    <button type="reset" class="button-assertive button-block button col-33 col-offset-33"><i class="ion-ios-refresh"></i> Reset</button>
                </div>
            </div>
        </form>
        </ion-content>
      </ion-modal-view>
    </script>

	</ion-content>
</ion-view>
