<ion-view view-title="login">
	<ion-content>
  <div ng-controller="AppCtrl" class="padding">
  <div class="align-middle">
  <div class="align-center"><img src="../img/ionic.png"></div>
    <div class="item button button-block button-assertive icon ion-social-google signIn-font has-header" ng-click="googleAuth()"> Login with Google</div>
		<!-- <button type="button" name="button"><a href="/#/home">Go To Home</a></button>
		<button type="button" name="button" ng-click="logout()">logout</button>
		<button type="button" name="button" ng-click="checkLoginState()">Check Login State</button> -->
   </div>
	 <!-- <button type="button" name="button" ng-click="checkLoginState()">checkLoginState</button> -->
   </div>
	</ion-content>
</ion-view>
