<ion-view view-title="Todos">
	<ion-content class="todos-content">
  <div ng-controller="AppCtrl">
  <div class="list">
    <label class="item item-input">
      <input type="text" ng-model="name" placeholder="Add Todo...">

    </label>
    <div class="item button button-block button-stable" ng-model="addTodoBtn" ng-click="googleAuth()">Google Sign In</div>
		<button type="button" name="button"><a href="/#/home">Go To Home</a></button>
		<button type="button" name="button" ng-click="logout()">logout</button>
		<button type="button" name="button" ng-click="checkLoginState()">Check Login State</button>
  </div>
  </div>
	</ion-content>
</ion-view>
