<!-- <ion-modal-view>
<div id="task-view" class="modal slide-in-up" ng-controller="AppCtrl">
    <header class="bar bar-header bar-assertive">
        <h1 class="title">New Video</h1>
        <button class="button button-clear button-primary" ng-click="close()">Close</button>
    </header>
    <ion-content class="padding has-header">
        <form ng-submit="" name="addForm" ng-controller="">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Title" ng-model="" required>
                </label>
                <br/>
                <label class="item item-input">
                    <textarea rows="8" placeholder="Notes...." ng-model="" required></textarea>
                </label>
                <div class="row">
                    <button type="submit" class="button-positive button-block button col col-33" ng-disabled="addForm.$invalid">Post<i class="ion-paper-airplane margin"></i>
                    </button>
                    <button type="reset" class="button-positive button-block button col-33 col-offset-33">Reset</button>
                </div>
            </div>
        </form>
    </ion-content>
</div>
</ion-modal-view> -->